/* Reset de estilos padrão */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 16px;
	letter-spacing: 2.5px;
	line-height: 1.5;
}

/* Estilos para o header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1864e9;
	color: #fff;
	padding: 30px;
}

.logo {
	width: 10em; /* largura máxima de 10em */
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.logo img {
	margin-left: 100px;
	position: absolute;
	width: 200px;
	top: 9px;
}

nav {
	display: flex;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	font-weight: bold;
	align-items: center;
  	justify-content: center;
  	flex: 1;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}

nav li {
	margin-left: 90px;
	margin-right: 30px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
  	padding: 2+0px;
}

nav a:hover {
	text-decoration: underline;
}


/* Estilos para a seção hero */

.hero {
  	background-image: url('assets/ImagemFundo1.jpg');
  	background-size: cover;
  	background-position: center;
  	height: 100vh; /* altura igual à altura do viewport */
  	display: flex; /* adiciona o display flex para que os elementos filhos possam ser posicionados facilmente */
  	align-items: center; /* centraliza verticalmente o conteúdo */
  	justify-content: space-between; /* distribui o espaço horizontalmente entre os filhos */
}

.hero-content {
	width: 50%; /* ocupa toda a largura disponível */
  	margin: 80px; /* centraliza horizontalmente */
	height: 60vh; /* altura igual à altura do viewport */
	max-height: 350px;
  	text-align: left; /* centraliza o texto */
  	font-size: 1.2vw; /* define o tamanho da fonte em relação à largura da viewport */
	font-weight: bold;
	color: #ffffff;
}

.hero h2 {
	text-align: justify;
	margin-top: 0;
	font-size: 2.5vw; /* define o tamanho da fonte em relação à largura da viewport */
	font-weight: bold;
	line-height: 1.2;
	color: #007bff;
}

.hero p {
	margin-bottom: 50px;
}

.cta1 {
	background-color: #ffffff;
	color: #007bff;
	text-decoration: none;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	max-width: 10em; /* largura máxima de 10em */
  	max-height: 3em; /* altura máxima de 3em */
	font-weight: bold;
	padding:20px 30px;
	border-radius:10px;
	margin-top: 20px;
	width: 45%; /* define a largura de cada botão */
	text-align: center; /* centraliza o texto horizontalmente */
	margin-right: 250px;
  }

.cta1:hover {
	background-color: #004fb3;
	color: #ffffff;
}

.cta2 {
	background-color: #ffffff;
	color: #007bff;
	text-decoration: none;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	max-width: 10em; /* largura máxima de 10em */
  	max-height: 3em; /* altura máxima de 3em */
	font-weight: bold;
	padding: 10px 20px;
	border-radius:10px;
	margin-top: 20px;
	width: 45%; /* define a largura de cada botão */
	text-align: center; /* centraliza o texto horizontalmente */
	margin-right: 100px;
  }

.cta2:hover {
	background-color: #004fb3;
	color: #ffffff;
}

/* Estilos para a seção de features */

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 80px;
	background: white;
	color: #000000;
	font-weight: bold;
}

/* card slider */

#s1:checked~ .cards #slide4,
#s2:checked~ .cards #slide5,
#s3:checked~ .cards #slide1,
#s4:checked~ .cards #slide2,
#s5:checked~ .cards #slide3{
	
	box-shadow: 0 15px 30px rgb(0, 0, 0, 45%);
	transform: translate3d(-70%, 0, -220px);
	--current-color1: #eceaed;
	--current-color2: #404457;
}

#s1:checked~ .cards #slide5,
#s2:checked~ .cards #slide1,
#s3:checked~ .cards #slide2,
#s4:checked~ .cards #slide3,
#s5:checked~ .cards #slide4{
	
	box-shadow: 0 20px 40px rgb(0, 0, 0, 45%);
	transform: translate3d(-35%, 0, -120px);
	--current-color1: #eceaed;
	--current-color2: #404457;
}

#s1:checked~ .cards #slide1,
#s2:checked~ .cards #slide2,
#s3:checked~ .cards #slide3,
#s4:checked~ .cards #slide4,
#s5:checked~ .cards #slide5{
	
	box-shadow: 0 25px 50px rgb(0, 0, 0, 50%);
	transform: translate3d(0, 0, 0);
	--current-color1: #fad00c; 
	--current-color2: #eceaed;
}

#s1:checked~ .cards #slide2,
#s2:checked~ .cards #slide3,
#s3:checked~ .cards #slide4,
#s4:checked~ .cards #slide5,
#s5:checked~ .cards #slide1{
	
	box-shadow: 0 20px 40px rgb(0, 0, 0, 45%);
	transform: translate3d(-35%, 0, -120px);
	--current-color1: #eceaed;
	--current-color2: #404457;
}

#s1:checked~ .cards #slide3,
#s2:checked~ .cards #slide4,
#s3:checked~ .cards #slide5,
#s4:checked~ .cards #slide1,
#s5:checked~ .cards #slide2  {
	
	box-shadow: 0 20px 40px rgb(0, 0, 0, 45%);
	transform: translate3d(-35%, 0, -120px);
	--current-color1: #eceaed;
	--current-color2: #404457;
}


.feature {
	width: 100%;
	height: 100%;
	max-width: 600px;
	max-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	flex-direction: column;
	margin-bottom: 100px;
}

.cards {
	position: relative;
	height: 500px;
	width: 430px;
	margin-bottom: 20px;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.cards label {
	position: absolute;
	width: 430px;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	transition: transform 0.55s ease;
}

.cards .card {
	position: relative;
	height: 100%;
	background-color: #323444;
	border-radius: 10px;
	padding: 30px 35px;
}

.dots div {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.dots div:nth-child(1) {
	background-color: var(--current-color1);
}


.dots div:nth-child(2) {
	background-color: var(--current-color1);
}


.dots div:nth-child(3) {
	background-color: var(--current-color1);
}


.dots div:nth-child(4) {
	background-color: var(--current-color1);
}


.dots div:nth-child(5) {
	background-color: var(--current-color1);
}
.card .infos {
	display: block;
	text-align: end;
	padding-top: 60px;
	padding-left: 25%;
	transition: all .6s ease;
}

.card .disc {
	font-size: 15.5px;
	color: #eceaed;
	letter-spacing: 3px;
}

.card .btn-details:hover {
	transform: scale(1.09);
}
.card .btn-details {
	width: 100%;
	height: 60px;
	margin: 35px auto;
	border-radius: 5px;
	background-color: var(--current-color1);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 25px;
	letter-spacing: 10px;
	font-weight: 700;
	transition: all .7 ease;
}

.card .infos span {
	display: block;
}

.infos .name {
	font-size: 30px;
	color: var(--current-color1);
	letter-spacing: 8px;
	margin-bottom: 20px;
}

.feature h3 {
	margin-top: 0;
}

.feature p {
	margin-bottom: 0;
}

.cta3 {
	background-color: #ffffff;
	color: #fafafa;
	text-decoration: none;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	max-width: 10em; /* largura máxima de 10em */
  	max-height: 3em; /* altura máxima de 3em */
	font-weight: bold;
	padding: 10px 20px;
	border-radius:10px;
	margin-top: 20px;
	width: 50%; /* define a largura de cada botão */
	text-align: center; /* centraliza o texto horizontalmente */
}


.cta3:hover {
	background-color: #004fb3;
	color: #ffffff;
}
/* Estilos para o footer */

footer {
	background-color: #f7f7f7;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #eee;
}