/* Reset de estilos padrão */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root {
	--color-neutral-0: #0c0c0c;
	--color-neutral-10: #171717;
	--color-neutral-30: #a8a29e;
	--color-neutral-40: #f5f5f5;

}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 16px;
	letter-spacing: 2.5px;
	line-height: 1.5;
}


input {
	display: none;
}

a {
	text-decoration: none;
}

/* Estilos para o header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #101010;
	color: #fff;
	padding: 30px;
}

.logo {
	width: 10em; /* largura máxima de 10em */
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.logo img {
	margin-left: 100px;
	position: absolute;
	width: 200px;
	top: 9px;
}

nav {
	display: flex;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	font-weight: bold;
	align-items: center;
  	justify-content: center;
  	flex: 1;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}

nav li {
	margin-left: 90px;
	margin-right: 30px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
  	padding: 2+0px;
}

nav a:hover {
	text-decoration: underline;
}


/* Estilos para a seção hero */

.hero {
  	background-image: url('assets/ImagemFundo1.jpg');
  	background-size: cover;
  	background-position: center;
  	height: 100vh; /* altura igual à altura do viewport */
  	display: flex; /* adiciona o display flex para que os elementos filhos possam ser posicionados facilmente */
  	align-items: center; /* centraliza verticalmente o conteúdo */
  	justify-content: space-between; /* distribui o espaço horizontalmente entre os filhos */
}

.hero-content {
	width: 50%; /* ocupa toda a largura disponível */
  	margin: 80px; /* centraliza horizontalmente */
	height: 60vh; /* altura igual à altura do viewport */
	max-height: 350px;
  	text-align: left; /* centraliza o texto */
  	font-size: 1.2vw; /* define o tamanho da fonte em relação à largura da viewport */
	font-weight: bold;
	color: #ffffff;
	text-align: justify;
}

.hero h2 {
	text-align: justify;
	margin-top: 0;
	font-size: 2.5vw; /* define o tamanho da fonte em relação à largura da viewport */
	font-weight: bold;
	line-height: 1.2;
	color: #ffffff;
}

.hero p {
	margin-bottom: 50px;
}

.cta1 {
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	font-size: 1.2em;
	max-width: 10em; 
  	max-height: 3em; 
	font-weight: bold;
	padding:20px 30px;
	border-radius:10px;
	margin-top: 20px;
	width: 45%;
	text-align: center;
	margin-right: 250px;
  }

.cta1:hover {
	background-color: #101010;
	color: #ffffff;
}

.cta2 {
	background-color: #ffffff;
	color: #101010;
	text-decoration: none;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	max-width: 10em; /* largura máxima de 10em */
  	max-height: 3em; /* altura máxima de 3em */
	font-weight: bold;
	padding: 10px 20px;
	border-radius:10px;
	margin-top: 20px;
	width: 45%; /* define a largura de cada botão */
	text-align: center; /* centraliza o texto horizontalmente */
	margin-right: 100px;
  }

.cta2:hover {
	background-color: #101010;
	color: #ffffff;
}

/* Estilos para a seção de features */

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 80px;
	background: white;
	color: #000000;
	font-weight: bold;
}

/* card slider */

#s1:checked~ .cards #slide4,
#s2:checked~ .cards #slide5,
#s3:checked~ .cards #slide1,
#s4:checked~ .cards #slide2,
#s5:checked~ .cards #slide3{
	
	box-shadow: 0 15px 30px rgb(0, 0, 0, 45%);
	transform: translate3d(-70%, 0, -220px);
	--current-color1: #eceaed;
	--current-color2: #404457;
}

#s1:checked~ .cards #slide5,
#s2:checked~ .cards #slide1,
#s3:checked~ .cards #slide2,
#s4:checked~ .cards #slide3,
#s5:checked~ .cards #slide4{
	
	box-shadow: 0 20px 40px rgb(0, 0, 0, 45%);
	transform: translate3d(-35%, 0, -120px);
	--current-color1: #eceaed;
	--current-color2: #404457;
}

#s1:checked~ .cards #slide1,
#s2:checked~ .cards #slide2,
#s3:checked~ .cards #slide3,
#s4:checked~ .cards #slide4,
#s5:checked~ .cards #slide5{
	
	box-shadow: 0 25px 50px rgb(0, 0, 0, 50%);
	transform: translate3d(0, 0, 0);
	--current-color1: #1864e9; 
	--current-color2: #eceaed;
}

#s1:checked~ .cards #slide2,
#s2:checked~ .cards #slide3,
#s3:checked~ .cards #slide4,
#s4:checked~ .cards #slide5,
#s5:checked~ .cards #slide1{
	
	box-shadow: 0 20px 40px rgb(0, 0, 0, 45%);
	transform: translate3d(35%, 0, -120px);
	--current-color1: #eceaed;
	--current-color2: #404457;
}

#s1:checked~ .cards #slide3,
#s2:checked~ .cards #slide4,
#s3:checked~ .cards #slide5,
#s4:checked~ .cards #slide1,
#s5:checked~ .cards #slide2  {
	
	box-shadow: 0 15px 30px rgb(0, 0, 0, 45%);
	transform: translate3d(70%, 0, -220px);
	--current-color1: #eceaed;
	--current-color2: #404457;
}


.feature {
	width: 100%;
	height: 100%;
	max-width: 600px;
	max-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	flex-direction: column;
	margin-bottom: 100px;
	margin-left: 650px;
}

.cards {
	position: relative;
	height: 500px;
	width: 430px;
	margin-bottom: 20px;
	perspective: 1500px;
	transform-style: preserve-3d;
}

.cards label {
	position: absolute;
	width: 430px;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	transition: transform 0.55s ease;
}

.cards .card {
	position: relative;
	height: 100%;
	background-color: #323444;
	border-radius: 10px;
	padding: 30px 35px;
}

.cards .image {
	display: flex;
	justify-content: space-between;
}

.cards .image img {
	border-radius: 5px;
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
	margin-top: 23px;
	width: 90%;
	height: 220px;
	object-fit: cover;
	transition: all .7s;
}

.cards .image .dots {
	text-align: center;
}

.cards .image img:hover {
	transform: scale(1.05);
}

.dots div {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.dots div:nth-child(1) {
	background-color: var(--current-color1);
}


.dots div:nth-child(2) {
	background-color: var(--current-color1);
}


.dots div:nth-child(3) {
	background-color: var(--current-color1);
}


.dots div:nth-child(4) {
	background-color: var(--current-color1);
}


.dots div:nth-child(5) {
	background-color: var(--current-color1);
}
.card .infos {
	display: block;
	text-align: end;
	padding-top: 60px;
	padding-left: 25%;
	transition: all .6s ease;
}

.cards .infos span {
	display: block;
}

.infos .name {
	font-size: 30px;
	color: var(--current-color1);
	letter-spacing: 8px;
	margin-bottom: 20px;
	padding-left: 25%;
	transition: all .6s ease;
}

.card .disc {
	font-size: 15.5px;
	color: #eceaed;
	letter-spacing: 3px;
	text-align: justify;
	text-indent: 40px;
}

.card .btn-details:hover {
	transform: scale(1.09);
}
.card .btn-details {
	width: 100%;
	height: 60px;
	margin: 35px auto;
	border-radius: 5px;
	background-color: var(--current-color2);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	font-size: 25px;
	letter-spacing: 7px;
	font-weight: 700;
	transition: all .7 ease;
}

.card .infos span {
	display: block;
}

.infos .name {
	font-size: 30px;
	color: var(--current-color1);
	letter-spacing: 8px;
	margin-bottom: 20px;
}

.feature h3 {
	margin-top: 0;
}

.feature p {
	margin-bottom: 0;
}

.cta3 {
	background-color: #ffffff;
	color: #fafafa;
	text-decoration: none;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	max-width: 10em; /* largura máxima de 10em */
  	max-height: 3em; /* altura máxima de 3em */
	font-weight: bold;
	padding: 10px 20px;
	border-radius:10px;
	margin-top: 20px;
	width: 50%; /* define a largura de cada botão */
	text-align: center; /* centraliza o texto horizontalmente */
}


.cta3:hover {
	background-color: #14191f;
	color: #ffffff;
}
/* Estilos para o footer */

footer {
	width: 100%;
	color: var(--color-neutral-40);
}

.footer-link {
	text-decoration: none;
}

#footer_content {
	background-color: var(--color-neutral-10);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 3rem 3.5rem;
}

#footer_contacts h1 {
	margin-bottom: 0.75rem;
}

#footer_social_media {
	display: flex;
	gap: 1rem;
	margin-top: 1.5rem;
}

#footer_social_media .footer-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--color-neutral-40);
	border-radius: 50%;
	transition: all 0.4s;
}

#footer_social_media .footer-link i {
	font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
	opacity: 0.9;
}

#instagram {
	background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#whatsapp {
	background-color: #25d366;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;
}

.footer-list .footer-link {
	color: var(--color-neutral-30);
	transition: all 0.4s;
}

.footer-list .footer-link:hover {
	color: #7f37c9;
}

#foioter_subscribe {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#footer_subscribe p {
	color: var(--color-neutral-30);
}

#input_group {
	display: flex;
	align-items: center;
	background-color: var(--color-neutral-0);
	border-radius: 4px;
}

#input_group input {
	all: unset;
	padding: 0.75rem;
	width: 100%;
}

#input_group button {
	background-color: #000000;
	border: none;
	color: var(--color-neutral-40);
	padding: 14px 1.25rem;
	font-size: 1.125rem;
	height: 100%;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
	transition: all 0.4s;
}

#input_group button:hover {
	opacity: 0.9;
}

#footer_copyright {
	display: flex;
	justify-content: center;
	background-color: var(--color-neutral-0);
	font-size: 0.9rem;
	padding: 1.5rem;
	font-weight: 100;
}