/* Reset de estilos padrão */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 16px;
	letter-spacing: 2.5px;
	line-height: 1.5;
}

/* Estilos para o header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1864e9;
	color: #fff;
	padding: 30px;
}

.logo {
	width: 10em; /* largura máxima de 10em */
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.logo img {
	margin-left: 100px;
	position: absolute;
	width: 200px;
	top: 9px;
}

nav {
	display: flex;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	font-weight: bold;
	align-items: center;
  	justify-content: center;
  	flex: 1;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}

nav li {
	margin-left: 90px;
	margin-right: 30px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
  	padding: 2+0px;
}

nav a:hover {
	text-decoration: underline;
}


/* Estilos para a seção hero */

.hero {
  	background-image: url('assets/ImagemFundo1.jpg');
  	background-size: cover;
  	background-position: center;
  	height: 100vh; /* altura igual à altura do viewport */
  	display: flex; /* adiciona o display flex para que os elementos filhos possam ser posicionados facilmente */
  	align-items: center; /* centraliza verticalmente o conteúdo */
  	justify-content: space-between; /* distribui o espaço horizontalmente entre os filhos */
}

.hero-content {
	width: 50%; /* ocupa toda a largura disponível */
  	margin: 80px; /* centraliza horizontalmente */
	height: 60vh; /* altura igual à altura do viewport */
	max-height: 350px;
  	text-align: left; /* centraliza o texto */
  	font-size: 1.2vw; /* define o tamanho da fonte em relação à largura da viewport */
	font-weight: bold;
	color: #ffffff;
}

.hero h2 {
	text-align: justify;
	margin-top: 0;
	font-size: 2.5vw; /* define o tamanho da fonte em relação à largura da viewport */
	font-weight: bold;
	line-height: 1.2;
	color: #007bff;
}

.hero p {
	margin-bottom: 50px;
}

.cta1 {
	background-color: #ffffff;
	color: #007bff;
	text-decoration: none;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	max-width: 10em; /* largura máxima de 10em */
  	max-height: 3em; /* altura máxima de 3em */
	font-weight: bold;
	padding:20px 30px;
	border-radius:10px;
	margin-top: 20px;
	width: 45%; /* define a largura de cada botão */
	text-align: center; /* centraliza o texto horizontalmente */
	margin-right: 250px;
  }

.cta1:hover {
	background-color: #004fb3;
	color: #ffffff;
}

.cta2 {
	background-color: #ffffff;
	color: #007bff;
	text-decoration: none;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	max-width: 10em; /* largura máxima de 10em */
  	max-height: 3em; /* altura máxima de 3em */
	font-weight: bold;
	padding: 10px 20px;
	border-radius:10px;
	margin-top: 20px;
	width: 45%; /* define a largura de cada botão */
	text-align: center; /* centraliza o texto horizontalmente */
	margin-right: 100px;
  }

.cta2:hover {
	background-color: #004fb3;
	color: #ffffff;
}

/* Estilos para a seção de features */

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 80px;
	background: linear-gradient(to right, #072452, #0a3478, #1864e9, #097df7);
	color: #000000;
	font-weight: bold;
}

.feature {
	flex-basis: calc(33.33% - 80px);
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.feature h3 {
	margin-top: 0;
}

.feature p {
	margin-bottom: 0;
}

.cta3 {
	background-color: #ffffff;
	color: #007bff;
	text-decoration: none;
	font-size: 1.2em; /* tamanho de fonte aumentado para 1.2em */
	max-width: 10em; /* largura máxima de 10em */
  	max-height: 3em; /* altura máxima de 3em */
	font-weight: bold;
	padding: 10px 20px;
	border-radius:10px;
	margin-top: 20px;
	width: 50%; /* define a largura de cada botão */
	text-align: center; /* centraliza o texto horizontalmente */
}


.cta3:hover {
	background-color: #004fb3;
	color: #ffffff;
}
/* Estilos para o footer */

footer {
	background-color: #f7f7f7;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #eee;
}